<!-- navbar from https://getbootstrap.com/docs/5.3/components/navbar/#nav -->
<!-- this will be included in the base.html template
    and will be seen on each page that extends
    to base.html -->
<nav class="navbar navbar-expand-lg">
  <div class="container mx-auto">
    <a class="navbar-brand" href="{{ url_for('index')}}">PhoneBook <i class="bi bi-book-half"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if current_user.is_authenticated %}
        <a class="nav-link" href="{{ url_for('contact') }}">Add Contact</a>
        <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        {% else %}
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
